* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div#canvas {
  position: absolute;
  top: 50px;
  left: 50px;
}

div.box {
  position: relative;
  display: block;
  background-color: #ccc;
}

div.handle {
  display: block;
  background-color: #aaa;
  border: solid 1px #222;
}
