* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div#canvas {
}

div.box {
  position: absolute;
  display: block;
  background-color: #ccc;
}

div.handle {
  display: block;
  background-color: #aaa;
  border: solid 1px #222;
}

div.dragbox {
  position: absolute;
  display: block;
  border: solid 1px blue;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
}
